menu "Wifi Class Configuration"

    config ESP_DEVICE_MODE
        int "Wifi Mode"
        range 0 1
        default 0
        help
            Choose the wifi mode for your application.

                0 = Access Point 
            
                1 = Station

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "Access Point"
        help
            SSID (network name) for the example to connect to

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "12345678"
        help
            WiFi password (WPA or WPA2) for the example to use

    config ESP_WIFI_CHANNEL
        int "WiFi Channel"
        range 1 13
        default 6
        help
            WiFi channel (network channel) for the example to use

    config ESP_MAX_STA_CONN
        int "Maximal STA connections"
        range 1 25
        default 4
        help
            Max number of the STA connects to AP

    config ESP_UDP_PORT
        int "UDP Port"
        range 1 65535
        default 25000
        help
            The port that UDP uses

    config ESP_SYNC_SYSTEM
        int "Wifi Sync System"
        range 0 1
        default 1
        help
            Enable or Disable the sync system that manages the wifi disconenctions quickly

                0 = Disable
            
                1 = Enable

endmenu
